### Desigualdades no Brasil

##### O Aquecimento Global é sentido igualmente por habitantes de uma mesma metrópole?
Analisando indicadores do aquecimento global, como nível de temperatura e desastres naturais, seus remediadores e também avaliando a distribuição entre bairros do Rio de Janeiro.

#### Descrição

In [3]:
import pandas as pd

In [39]:
# índice de progresso
df_ip = pd.read_csv('./data/dimensoes_componentes.csv', index_col = 0).reset_index()

In [52]:
regions = df_ip['regiao_administrativa'].unique()

#centro = df_ip[df_ip['regiao_administrativa'].str.contains('Centro')]

recent = df_ip[df_ip['ano'] == 2020]


l_df = recent.nlargest(10, ['ips_geral'])['regiao_administrativa'] # df
largest = [l_df[key] for key in l_df.keys()] # array with district names

s_df = recent.nsmallest(10, ['ips_geral'])['regiao_administrativa'] # df
smallest = [s_df[key] for key in s_df.keys()] # array with district names

largest, smallest

(['Botafogo',
  'Copacabana',
  'Lagoa',
  'Vila Isabel',
  'Tijuca',
  'Barra Da Tijuca',
  'Méier',
  'Iraja',
  'Santa Teresa',
  'Ilha Do Governador'],
 ['Portuaria',
  'Pavuna',
  'Guaratiba',
  'Complexo Do Alemão',
  'Jacarezinho',
  'Maré',
  'Cidade De Deus',
  'Santa Cruz',
  'Bangu',
  'São Cristovão'])

In [41]:
df_e.head()

,DATA.RIO,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,Tabela 3696. Emissões de gases de efeito estuf...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nome,2012,NaN,NaN,NaN,2013,NaN,NaN,NaN,2014,...,NaN,NaN,2018,NaN,NaN,NaN,2019,NaN,NaN,NaN
3,NaN,Escopo 1,Escopo 2,Escopo 3,Total,Escopo 1,Escopo 2,Escopo 3,Total,Escopo 1,...,Escopo 3,Total,Escopo 1,Escopo 2,Escopo 3,Total,Escopo 1,Escopo 2,Escopo 3,Total
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN